<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Müşteri Sayfası</title>
</head>
<body>
    <a href="/urunlistesi">Ürünleri Listele</a><br><br><br>
    <a href="/urunsatinal">Ürün Satın Al</a><br><br><br>
    <a href="/sepetlistele">Alışveriş Sepetin</a><br><br><br>
    <a href="/gecmissepet">Geçmiş Alışveriş Listesi</a><br><br><br>

</body>
</html>