<!doctype html>
<html>
   <body>

      <table border = 1>
         <thead>
            <td>Ürün Adi</td>
            <td>Ürün Fiyatı</td>
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row["urunadi"]}}</td>
               <td> {{ row["urunfiyat"]}}</td>
            </tr>
         {% endfor %} 
        </table>
        
        <h1>Üye Sayfası</h1>
        <div class="container">
          <h1>Ürün Satin</h1>
          <br>
          <form action= "{{ url_for('SepeteEkle') }}", method="post">
            <input type="text" placeholder="Sepete Eklenecek Ürün Adı" name="urunadi" value="{{
              request.form.urunadi }}">
              <br><br>
              <input type="text" placeholder="Sepete Eklenecek Ürün Adeti" name="urunAdet" value="{{
               request.form.urunAdet }}">
              <br><br>
            <input class="btn btn-default" type="submit" value="Ekle">
          </form>
    
        </div>
        <hr><hr>
      <a href = "/">Anasayfaya dön</a>
      
   </body>
</html>