<html>
  <head>
    <title>Urun Ekleme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Admin Sayfası</h1>
    <div class="container">
      <h1>Ürün Ekle</h1>
      <br>
      <form action= "{{ url_for('kayit_ekle') }}", method="post">
        <input type="text" placeholder="Urun Adi" name="urunadi" value="{{
          request.form.urunadi }}">
          <br><br>
         <input type="text" placeholder="urun fiyat" name="urunfiyat" value="{{
          request.form.urunfiyat }}">
          <br><br>
        <input class="btn btn-default" type="submit" value="Ekle">
      </form>

    </div>
    <hr><hr>
   
  </body>
</html>